* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .first {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 50px;
}

input {
    border: 2px rgb(180, 180, 180) solid;
    border-radius: 5px;
    height: 35px;
    vertical-align: middle;
    padding: 5px;
}

input::placeholder {
    font-weight: bold;
}

.btn {
    margin: 0 10px;
    text-transform: uppercase;
    color: white;
    border: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}